.yellow-bg {
  background-color: rgb(202, 202, 26);
}

.alert-box {
  background-color: rgb(131, 131, 233);
  color: blue;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.main-background {
  background-image: url("soyul.jpg");
  background-size: cover;
  color: white;
  border-radius: 0px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-sub {
  display: none;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s;
  transform: translateY(-1000px);
}

.white-background {
  background-color: white;
  width: 80%;
  margin: 150px auto;
  padding: 20px;
  border-radius: 10px;
}

#email-alert {
  display: none;
  color: red;
}

#password-alert {
  display: none;
  color: red;
}

.left-menu {
  width: 150px;
  height: 100%;
  background: black;
  color: white;
  position: fixed;
  margin-left: -150px;
}

.slide-down {
  transform: translateY(0px);
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-container {
  width: 300vw;
  transition: transform 1s;
}

.slide-box img {
  width: 100%;
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
}
